.entry{
  width: 350px;
  float: left;
  background-color: skyblue;
}
h2{
  font-size: 20px;
}
.intro img{
  width: 45%;
  height: 45%;
  border: 15px dashed black;
}
img{
  width: 140px;
  height: 120px;
}
.intro{
  text-align: center;
  font-weight: bold;
  font-size: 22pt;
  font-family: fantasy;
}
.entry p{
  color: black;
  position: static;
}
.intro p{
  color: black;
  position: static;
}
p {
  color: red;
  margin-top: 15px;
  position: absolute;
  top: 1450px;
  right: 200px;
}
.entry a {
  color: green;
}
.intro a{
  color: pink;
}
